/* #page-topbar{
    background-color: #596A60 !important;
} */
::-webkit-scrollbar
{
	width: 3px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	background-color: #252b3b;
}

#chequeInputs,
#virementInputs,
#dateChequeInputs,
#imgChequeInputs,
#montantInput,
#cardTransaction {
  display: none;
}
